/* latin-ext */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Exo 2'), local('Exo2-Regular'), url(https://kiedywakacje.pl/files/exo2_400_latinext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Exo 2'), local('Exo2-Regular'), url(https://kiedywakacje.pl/files/exo2_400_latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Exo 2 Bold'), local('Exo2-Bold'), url(https://kiedywakacje.pl/files/exo2_700_latinext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Exo 2 Bold'), local('Exo2-Bold'), url(https://kiedywakacje.pl/files/exo2_700_latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-image: url(files/back_dark.jpg);
    text-align: center;
    color: #c9c9c9;
    background-color: #0f141b;
    font-family: 'Exo 2', sans-serif;
}

body#ciastek_body {
    margin-top: 0px;
}

div.counter {
    font-size: 20pt;
}

div.explain_main {
    font-size: 13pt;
    line-height: 30pt;
    color: #979797;
}

div.explain_small {
    font-size: 10pt;
    line-height: 15pt;
    color: #979797;
}

div.tech {
    font-size: 10pt;
    color: #979797;
    padding-top: 15px;
    line-height: 1.5;
}

div.social {
    padding-top: 30px;
}

div.back {
    line-height: 30px;
    font-weight: bold;
}

div.darkmode {
    padding-top: 10px;
}

img.ciastek_img {
    max-width: 100%;
    max-height: 100%;
}

img.dark {
    width: 46px;
    height: auto;
    cursor: pointer;
}

a:link {
    color: #4195d9;
}

a:active {
    color: #e82020;
}

a:visited {
    color: #c270d0;
}

a.ciastek_footer {
    color: #e82020;
    font-size: 15pt;
    font-weight: bold;
}

footer {
    padding-top: 10px;
}

section {
    font-size: 20pt;
    line-height: 50px;
}